body {
    font-family: 'Poppins', sans-serif;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: gray;
}

nav p:hover {
    color: gray;
}

/* About */

#about {
    width: 100%;
    min-height: 100vh;
    margin-top: 78px;
    background: url("../assets/img/about_bg.jpeg") fixed top center;
    background-size: cover;
    position: relative;
}

#about:before {
    content: "";
    background: rgba(0, 0, 0, .8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about .container {
    position: relative;
}

#about h1 {
    margin: 15% auto 0.5rem;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #fff;
    font-family: "Poppins" sans-serif;
}

#about p {
    color:#e8e8e8;
    margin: 50px 0 0 0;
    font-size: 18px;
    
}

#about h5 {
    font-size: 30px;
    font-weight: 700;
    color: #e5e5e5;
}

#carouselExampleIndicators img {
    opacity: 0;
}

.carousel-caption {
    top: 15%;
    padding: 0;
}

.next-btn {
    display: inline-block;
    margin-bottom: 30px;
    padding: 8px 2px;
    width: 120px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
}

.next-btn:hover {
    border-color: #e8e8e8;
    color: #e8e8e8;
    background-color: #222;
}

/* Parts */

#parts {
    background: #fff;
    padding: 10px;
}

#parts h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 1.5px;
}

.part {
    margin: 0 auto 60px;
   
}

.part img {
    max-width: 516px;
    max-height: 387px;
}



.part h5 {
    padding: 0.5rem 0;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.part p {
    font-size: 1rem;
}

/* Footer */

.footer-top {
    background: #000;
    color: #fff;
    border-bottom: 1px solid #222222;
    
}

.footer_top {
    padding: 30px 0 20px;
}

.footer-top .footer-info {
    margin-bottom: 10px;
}

.footer-top .footer-info h4 {
    font-size: 28px;
    margin: 0 0 20px;
    padding: 2px 0;
    line-height: 1;
    font-weight: 700;
}

.footer-top .footer-info p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
}

.text-white-50 {
    padding: 0;
}